html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    width: 200px;
    padding-left: 70px;
    padding-top: 2.5px;
    padding-bottom: 0px;
    
}
header {
    display: flex;
    width: 100%;
}

header input {
    margin-left: 200px;
    height: 30px;
    margin-top: 30px;
}

header ul {
    list-style-type: none;
    display: flex;
    margin-top: 25px;
}

header ul li {
    margin: 10px;
}

.brandin{
    display: flex;
    max-width: 100%;

}
.contenedorImagen {
    background-image: url('img/banner.jpg');
    background-size: contain;
    height: 500px;    
}

.contenedorTitulo {
    color: white;
    width: 400px;
    padding-top: 100px;
    padding-left: 50px;
}

.contenedorTitulo h3 {
    font-size: 10px;
}

.contenedorTitulo button {
    
    content: '→';
    background-color: #9BF00B;
    color: black;
    padding: 10px;  
}
.contenedorTitulo button2{
    color: #9BF00B;
    content: '→';
    background-color: rgb(24, 22, 22);
    padding: 10px;  
}

.contenedor {
    padding-left: 50px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    }
.text{
    padding: auto;
    text-align: center;
}
.item{
    text-align: center;
}
.item .valor {
    font-size: 28px;
    font-weight: bold;
    color: #f4511e;
}
.item .etiqueta{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.contenedor2 {
    padding-left: 100px;
    display: flex;
    gap: 60px;
    align-items: flex-start;

    }
.contenedor1{
    padding-left: 100px;
    margin: 10px;
}
footer{
    background-color: #F2F2F2;
}